


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">About Us<br/>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>

<section class="features">

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>Our Mission</h1>
        <p>The mission of the Children’s Brittle Bone Foundation is to provide funds for research into the causes, diagnosis, treatment, prevention, and eventual cure for Osteogenesis Imperfecta (OI), while supporting programs that improve the quality of life for people afflicted with OI, promote awareness, and educate the public.</p>

        <h1>Our History</h1>
        <p>
            The Children’s Brittle Bone Foundation was founded in 1990 in response to the lack of information available for families affected by OI. A group of friends in Chicago came together to raise money with the goal to find answers about this mysterious and heart breaking disease. Through annual golf outings and other fundraisers, the CBBF has raised over $6 Million. Additionally, we testified in front of the House Ways and Means Committee and were instrumental in getting the National Institute of Health to provide a five-year research stipend of $12.5 Million. We are an entirely volunteer-based organization, allowing us to direct 100% of our proceeds to the OI community.
        </p>

        <!-- Timeline -->
        <!-- Box 1 -->
        <div style="width:15%;float:left;">
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p>
                    <strong>1990</strong><br>
                    First Golf Outing<br>
                    (Presented by WBBM)
                </p>
            </div>
            <div class="timeline-vertical"  style=""></div>
        </div>
        <!-- Box 3 -->
        <div style="width:15%;float:left;margin-left:5%;">
        <br>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p><strong>1992</strong><br>
                Outing Moves to Ivanhoe</p>
            </div>
            <div class="timeline-vertical"  style=""></div>
        </div>
        <!-- Box 5 -->
        <div style="width:15%;float:left;margin-left:5%;">
        
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p>
                    <strong>1994-2002</strong><br>
                    CBBF Funds<br>
                    23 Research Programs
                </p>
            </div>
            <div class="timeline-vertical"  style=""></div>
        </div>
        <!-- Box 3 -->

        <div style="width:15%;float:left;margin-left:5%;">
        <br>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p><strong>1992</strong><br>
                Outing Moves to Ivanhoe</p>
            </div>
            <div class="timeline-vertical"  style=""></div>
        </div>
            <!-- Box 3 -->
        <div style="width: 15%; margin-left: 80%;">
        <br>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p><strong>1992</strong><br>
                Outing Moves to Ivanhoe 2</p>
            </div>
            <div class="timeline-vertical"  style=""></div>
        </div>

        <!-- Timeline -->
        <div class="timeline-bar"></div>
        
        <!-- Box 2 -->
        <div style="width:15%; float: left; margin-left: 10%">
            <div class="timeline-vertical" style=""></div>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px; text-align: center"/>
                <p><strong>1991</strong><br>
                CBBF Formed</p>
            </div>
        </div>
            <!-- Box 4 -->
        <div style="width: 15%; float: left; margin-left: 5%;">
            <div class="timeline-vertical"  style=""></div>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p>
                    <strong>1998</strong><br>
                    Ashley Glicken Testifies Before Congress
                    (Health and Human Services SubCommittee)
                </p>
            </div>
        </div>    
           <!-- Box 6 -->
        <div style="width: 15%; float: left; margin-left: 5%;">
            <div class="timeline-vertical"  style=""></div>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p>
                    <strong>1998</strong><br>
                    Ashley Glicken Testifies Before Congress<br>
                    (Health and Human Services SubCommittee)
                </p>
            </div>
        </div>    
           <!-- Box 8 -->
        <div style="width: 15%; float: left; margin-left: 5%;">
            <div class="timeline-vertical"  style=""></div>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p>
                    <strong>1998</strong><br>
                    Ashley Glicken Testifies Before Congress<br>
                    (Health and Human Services SubCommittee)
                </p>
            </div>
        </div>    

            <!-- Box 10 -->
        <div style="width: 15%; margin-left: 90%;">
            <div class="timeline-vertical"  style=""></div>
            <div class="timeline-box">
                <img id="sun" src="/assets/landing/cbbf_sun-127499581812fade3e7503e24dae1cafeb997c01eeb2b9390dcfe97effc40d84.png" style="height:25px;"/>
                <p>
                    <strong>1998</strong><br>
                    Ashley Glicken Testifies Before Congress<br>
                    (Health and Human Services SubCommittee)
                </p>
            </div>
        </div>



        <h1>Our Top Initiatives</h1>
        <p>Between 1994 and 2002, the CBBF funded 23 research programs focused on OI and successfully lobbied Congress to cause the the National Institute of Health designate $12.5M of funding for OI research. As a result, what was once an unstudied disease now attracts some of the best scientific talent in the world. In addition to funding important research, our mission includes supporting programs that improve the quality of life for people afflicted with OI. Our efforts on both fronts are driven by our top two initiatives: The Linked Clinical Center and the CBBF + OIF Impact Grant Program.</p>

        <h1>CBBF + OIF Impact Grant Program</h1>
        <p>In 2009 the CBBF started a program to directly and immediately impact the lives of people affected by OI. Together with our sister organization, the Osteogenesis Imperfecta Foundation (OIF), we are working to provide direct assistance to some of the OI community’s most needy. The program pays for a wide range of needs including wheelchair accessible vans, hearing aids and urgent medical care. By the end of 2014 we will have funded over 100 Impact Grant requests.</p>

        <h1>Linked Clinical Research Center (LCRC)</h1>
        <p>The LCRC are clinical and research centers of excellence linked together through a central database containing genetic, radiology, and clinical data. The LCRC gives doctors across North America access to clinical care results from thousands of children and adults with OI. By sharing data, the Centers are capable of tracking how OI changes across a lifetime, what complications are common, and which treatments are beneficial. The information being gathered and shared is dramatically accelerating the rate at which we are learning about OI.</p>

        <h1>Our Need</h1>
        <p>While we are proud of the work that has been done, we are humbled by how much is left to do. For example, we fund less than 20% of the Impact Grant requests that are submitted each year. To scale up our successful programs and accomplish our goals, we need to expand our donor base beyond our incredibly generous friends in the Chicago area. Please consider how you can help.</p>
    </div>

</div>

</section>
