


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <br>
                <br>
                <br>

                <h1 style="padding-left: 170px; font-size: 80px"><i class="fa fa-amazon"></i>mazonSmile
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>
<section class="features">

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <div class="row">
            <div class="col-lg-3">
                <div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                            <div id="amznCharityBanner" style="position: relative"><div><a href="http://smile.amazon.com/ch/36-3747896"><img src="https://d1ev1rt26nhnwq.cloudfront.net/ccmtblv2.png" id="banner" style="border-style: none;"></a></div><table style="position: absolute; text-align: center; width: 300px; top: 97px; height: 65px; vertical-align: middle"><tbody><tr><td style="vertical-align: middle"><div style="max-height: 54px; overflow: hidden; padding-left: 10px; padding-right: 10px;color:#86c9fe;">
                            
                                <span style="font-family: Arial; font-size: 20px;" class="charityNameSpan">
                                    <img id="amazon-image" src="/assets/landing/cbbf-logo-03b2b2c5b58a4e9b23a2c35baa478e8c810f2d64ad8175568f1da1f604f07639.png" style="width:90%;"/>
                                </span>

                            </div></td></tr></tbody></table></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <h1>
                    Did you know that your regular Amazon shopping can help the CBBF? Start your Amazon shopping here and 0.5% of your purchases go directly to the Jeanie Coleman Impact Grant Program!
                </h1>

                <br>
                <img id="amazon-poster" src="https://res.cloudinary.com/mglicken/image/upload/v1583680549/CBBF/amazon.png" style="width:80%;margin-left: 10%"/>
            </div>
        </div>
    </div>

</div>

</section>
