


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">Brittle Bone Disorders Consortium<br>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>
<section class="features">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>Background</h1>
             
            <p>
                The <strong>Brittle Bone Disorders Consortium</strong> is part of the National Institutes of Health Rare Diseases Clinical Research Network. It is a multi-center program that focuses on understanding and providing better treatment options for all types of osteogenesis imperfecta (OI). In addition, the consortium will sponsor a state of the art Contact Registry for People with OI and implement training programs for physicians and scientists.
            </p>
            <p>
                <h2>What this Means to People with OI</h2>
            </p>
            <p>
                This program will speed up the pace of research and put useful information into practice much quicker than otherwise possible by:
            </p>
            <ul>
                <li>Using the skills of experienced researchers from many institutions</li>
                <li>Creating access to research centers closer to where people live; making participation easier</li>
                <li>Expanding educational opportunities for healthcare providers</li>
            </ul>
            <p>
                <h2>Consortium Members</h2>
            </p>
            <p>
                The Brittle Bone Disorders Consortium is a group of physicians, researchers and educators who are focused on learning more about osteogenesis imperfecta and developing new and better treatments to improve the care of people with OI.
            </p>


            <div class="ibox">
                <div class="row">
                    <div class="col-lg-3">

                        <table>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Baylor College of Medicine</strong><br>
                                Houston, Texas
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Shriners Hospital for Children</strong><br>
                                Montreal, Canada
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Oregon Health and Science University</strong><br>
                                Portland, Oregon
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">University of California at Los Angeles</strong><br>
                                Los Angeles, California
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Kennedy Krieger Institute</strong><br>
                                Baltimore, Maryland
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Children's National Health System</strong><br>
                                Washington D.C.
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Hospital for Special Surgery</strong><br>
                                New York City, New York
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Shriners Hospital for Children</strong><br>
                                Chicago, Illinois
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Marquette University</strong><br>
                                Milwaukee, Wisconsin
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">University of Nebraska Medical Center</strong><br>
                                Omaha, Nebraska
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">The University of South Florida</strong><br>
                                Tampa, Florida
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">University of Washington</strong><br>
                                Seattle, Washington
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Nemours / Alfred I duPont Hospital for Children</strong><br>
                                Wilmington, Delaware
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">Shriners Hospital for Children</strong><br>
                                Tampa, Florida
                            </td>
                          </tr>
                          <tr class="border-top-bottom border-size-md" style="border-color:white">
                            <td style="padding-right:5px;">
                                <strong style="color:#7bc5ff">OI Foundation</strong><br>
                                Gaithersburg, Maryland
                            </td>
                          </tr>
                        </table>
                    </div>
                    <div class="col-lg-9">
                        <div class="ibox ">
                                <div id="usa_map"></div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Consortium Research Studies</h2>
            <p>
                Extending the Longitudinal Study of OI (begun in the OI Foundation’s Linked Clinical Research Center program). This study is important to accurately describe the different types of OI and how they may change and as people grow up and get older. This study is recruiting participants – see Natural History Study (or Longitudinal Study) under Current Studies. The Longitudinal Study of OI focuses on:
            </p>
            <ul>
                <li>Phase 1a/1b clinical trial of a new drug (anti-TGF-beta) to treat severe OI</li>
                <li>Spine study into the effects of scoliosis and vertebral compression on lung function</li>
                <li>Pregnancy outcomes in women with OI</li>
                <li>Dental study of craniofacial and dental deformities seen in severe OI and effect on quality of life</li>
                <li>Quality of Life study utilizing and validating sections of the NIH-funded PROMIS system</li>
                <li>Biomarker study looking at collagen cross-linking</li>
            </ul>
            <p>
                Details for each study will be posted when they are open for recruiting participants.
            </p>
            <h2>Medical Education Opportunities</h2>
            <p>
                The Brittle Bone Disorders Consortium, with the assistance of the OI Foundation, will work to bring up-to-date information about caring for people with OI to physicians and other health care providers:
            </p>
            <ul>
                <li>Workshops at professional meetings</li>
                <li>Continuing Medical Education Course</li>
                <li>Podcasts</li>
                <li>Toolkit for Medical Professionals, on the OIF Website</li>
                <li>Medical Professional Electronic Newsletter</li>
            </ul>
           
            <h2>Fellowship Opportunities</h2>

            <p>
                Information about fellowships for young investigators is posted under OIF Research Grants 
            </p>
            <p>
                Check out the Brittle Bone Disorders Consortium’s (BBDC) first newsletter! Click Here to read about the BBDC’s partnership with the OIF, a message from the first BBDC participant, current studies, and more.
            </p>


        </div>
    </div>
</section>


<script type="text/javascript">

    var usa_map = new Datamap({
        element: document.getElementById("usa_map"),
        responsive: true,
        scope: 'usa',
        fills: {
            defaultFill: "#DBDAD6",
            active: "#2BA587"
        },
        geographyConfig: {
            highlightFillColor: '#DBDAD6',
            highlightBorderWidth: 0
        }
    });


    // Resize map on window resize
    $(window).on('resize', function() {
        setTimeout(function(){
            basic.resize();
            selected_map.resize();
        },100)
    });

</script>


