


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">Ladie's Card Game<br/>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>
<section class="features">


<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <img src="https://res.cloudinary.com/mglicken/image/upload/CBBF/CBBF-28th-SaveTheDate.png" style="width:100%">
            </div>
            <div class="col-lg-8">
                <h1>Program Details</h1>
                <p>
                    <strong>10:30</strong>  Registration.
                </p>
                <p>
                    <strong>11:00 – 4:00</strong>  Game Day
                </p>
                <p>
                    <strong>12:30</strong>  Buffet Lunch is served.
                </p>
                <p>
                    <strong>5:30</strong>  Cocktails, incredible buffet dinner, live auction and a very special ceremony rededicating our CBBF Impact Grants that no CBBF patron can miss!
                </p>

                <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                            <div>

                            <div id="fc-embed-loader" class="fc-direct-embed-loader" style="top: 257.5px; display: block;"></div>

                            <div id="fc-embed-main-box" class="fc-embed-main-box" style="display: block; animation: 2s ease 0s 1 normal none running fadesin;">
                                <iframe id="fc-embed-frame" style="height: 500px; width: 95%; border: 1px solid rgb(221, 221, 221); margin: 0px auto; display: block; animation: 2s ease 0s 1 normal none running fadesin;" src="https://www.flipcause.com/widget/NTk3MTU=" scrolling="no"></iframe>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</section>
