


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">About Us<br/>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>
<section class="features">


</section>
