


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">Annual CBBF Golf & Food Classic<br/>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>
<section class="features">


<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <img src="https://res.cloudinary.com/mglicken/image/upload/CBBF/CBBF-28th-SaveTheDate.png" style="width:100%">
            </div>
            <div class="col-lg-8">
                <h1>Program Details</h1>
                <p>
                    <strong>10:00</strong>  Clubhouse and Registration open and each golfer will receive a unique thank you gift from CBBF upon arrival.
                </p>
                <p>
                    <strong>10:00 – 12:15</strong>  Driving range and putting green open and brunch refreshments will be served at the clubhouse prior to shotgun start.
                </p>
                <p>
                    <strong>12:15 – 12:30</strong>  To your carts for confirmations of pairings, foursomes, rules, formats and escort to your starting hole.
                </p>
                <p>
                    <strong>12:30 – 5:00</strong>  Shotgun start. During your round of golf special dining experiences will be located at a number of holes on the course and CBBF hosts will circulate the course throughout the afternoon with premium cocktails and some very special cigars.
                </p>
                <p>
                    <strong>5:00 – 5:30</strong>  Clubhouse facilities available.
                </p>
                <p>
                    <strong>5:30</strong>  Cocktails, buffet supper, golf prizes awarded, live auction and a very special ceremony rededicating our CBBF Impact Grants that no CBBF patron can miss!
                </p>


                <div class="wpb_wrapper">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                            <iframe style="height:615px; width:98%; border:1px solid #dddddd; " src="https://www.flipcause.com/widget/MzQzODY=" scrolling="no"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</section>
