


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">Jeanie Coleman Impact Grants<br>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>
<section class="features">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1>First Round of Grant Awards Makes a Real Impact!</h1>
             
            <p>
                The CBBF + OIF Impact Grant Program made its first round of awards this year to 5 deserving families living with OI. Below you’ll find a summary of the awards as well as some pictures and excerpts from letters from the Impact Grant Awardees.
            </p>
            <p>
                <strong>
                    2009 APPLICANT D<br>
                </strong>
                Funding: $17,656
                Applicant D is a couple in their mid-thirty’s living in Elmwood Park, IL. Funding of their application includes; a 2005 Ford Prostar minivan, an AL690 Side-loading Hybrid Platform lift (to be installed in the minivan), a wheelchair ramp for their home, and a Quickie LXI Rehabilitation Wheelchair.
            </p>
            <p>
                <strong>
                    2009 APPLICANT E<br>
                </strong>
                Funding: $14,700<br>
                Applicant E is a family of four living in Rice Lake, Wisconsin. Funding of their application includes; a 2003 GMC Savana minivan and a lift, including installation, for the van. The applicant had also requestedFunding: for a ramp to be built in their home. During the application process, the applicant was awarded a low-interest WISH loan to cover the cost of the home ramp.
            </p>
            <p>
                <strong>
                    2009 APPLICANT K<br>
                </strong>
                Funding: $6,379<br>
                Applicant K is a family of five living in Delafield, WI. Funding of their application includes; carpeting through the main portion of the house to provide a soft surface for crawling, and home modifications to the bathroom to improve accessibility.
            </p>
            <p>
                <strong>
                    2009 APPLICANT L<br>
                </strong>
                Funding: $7,590<br>
                Applicant L is a single mother with two teenage daughters living in Sauk Village, IL. Funding of their application includes; the purchase and installation of a wheelchair lift for their 1999 Chevrolet Express minivan.
            </p>
            <p>
                <strong>
                    2009 APPLICANT M<br>
                </strong>
                Funding: $3,000<br>
                Applicant M is a 17 year old high school student living in New Lenox, IL. Funding of her application includes; a new laptop, home renovations to the kitchen to make it more accessible and allow her to learn how to cook, and accessible toilet and shower seats. Most, if not all, of the home modifications will be able to transfer with her as she starts college in the fall of 2010.
            </p>
            <p>
                <strong>
                    2010 APPLICANT A24<br>
                </strong>
                Funding: $18,000<br>
                Applicant A24 is a gentleman in his twenty’s living in Kerman, CA. Funding of his application includes; a wheelchair accessible transportation vehicle.
            </p>
        </div>
    </div>
</section>
