<div id="inSlider" class="carousel slide" data-ride="carousel" >
<ol class="carousel-indicators">
    <li data-target="#inSlider" data-slide-to="0" class="active"></li>
    <li data-target="#inSlider" data-slide-to="1"></li>
    <li data-target="#inSlider" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Children's Brittle Bone Foundation</h1>
                <br>
                <p>Providing funds for research into the causes, diagnosis,<br>
                treatment, prevention, and eventual cure for Osteogenesis Imperfecta (OI)</p>
                <p><a class="btn btn-lg btn-cbbf-blue" href="/about_us" role="button">Learn more</a></p>

            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back three"></div>

    </div>
    <div class="carousel-item">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>Children's Brittle Bone Foundation</h1>
                <br>
                <p>Supporting programs that improve the quality of life for people afflicted with OI</p>
                <p><a class="btn btn-lg btn-cbbf-blue" href="/about_us" role="button">Learn more</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back four blank"></div>
    </div>
    <div class="carousel-item">
        <div class="container">
            <div class="carousel-caption">
                <h1>Children's Brittle Bone Foundation</h1>
                <br>
                <p>Promoting awareness and educating the public</p>
                <p><a class="btn btn-lg btn-cbbf-blue" href="/about_us" role="button">Learn more</a></p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>
    </div>
</div>
<a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>


<br>
<br>
<section class="features">
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <i class="fa fa-money cbbf-big-icon"></i>
            <h2>GRANTS </h2>
            <p>Since 1991, with the help of our generous donors and community, the CBBF has raised over $18 Million for research into the causes, diagnosis, treatment, prevention, and eventual cure for Osteogenesis Imperfecta (OI).</p>
        </div>
        <div class="col-lg-5 features-text">
            <i class="fa fa-flask cbbf-big-icon"></i>
            <h2>RESEARCH </h2>
            <p>CBBF broadened its grant mechanism to include more clinical concerns and in 2006 launched, in concert with the OI Foundation, the Linked Clinical Research Center (LCRC) program. Learn how the LCRC is driving innovation in the research and treatment of OI!</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-5 col-lg-offset-1 features-text">
            <i class="fa fa-tree cbbf-big-icon"></i>
            <h2>GOLF OUTING </h2>
            <p>Join CBBF in our annual fundraising golf outing at Northoor Country Club in Highland Park! We will be golfing for a better cause. With live auction, hero grants, and more, the day gives a lively outlook on helping those in need.</p>
        </div>
        <div class="col-lg-5 features-text">
            <i class="fa fa-heart cbbf-big-icon"></i>
            <h2>DONATIONS </h2>
            <p>The CBBF is a 100% volunteer organization. Everything you give below goes directly to our Impact Grants </p>
        </div>
    </div>
</div>

</section>



