


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">OI Foundation<br/>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>


<br>
<br>
<section class="features">


<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">

        <h1>Our Sister Organization</h1>
        <p>
            Since our inception, the CBBF has partnered with OIF  to make a difference in the OI Community. The CBBF primarily focuses on fundraising and overseeing the LCRC and Impact Grant Programs.  The OIF is much more hands on in the community.  For more information about OI, and resources to help, please visit <a href="https://www.oif.org">www.oif.org</a>, call them at 844-889-7579 or send an email to <a href="mailto:Bonelink@oif.org">Bonelink@oif.org</a>
        </p>


        <h1>Research:</h1>
        <p>
            Since 1970, the OI Foundation has doubled funding for research every five years, for a total investment of more than $3.3 million. Funding is available for postdoctoral fellowships to encourage new investigators to begin a career in OI research, and seed grants for preliminary research. All applications are reviewed by the Foundation’s Scientific Review Committee, which includes many preeminent OI researchers and clinicians. Funding also supports the OI Registry and the Linked Clinical Research Centers. The potential for results in OI research is growing, with recent advances in gene therapy, a new diagnostic test, and drug therapies under study.
        </p>
        <h1>Education:</h1>
        <p>
            The Foundation’s principal education event is the Biennial National Conference on OI, which provides more than 570 people with medical, research, and coping information. For many, it’s the first opportunity to meet others who are living with OI. In addition, the Foundation is continually developing new information resources in response to the needs of families, individuals, and professionals working with those affected by OI. Topics covered include schooling, pain management, psychosocial needs of the family, child abuse, fracture management, and osteoporosis.
        </p>
        <h1>Awareness:</h1>
        <p>
            The Foundation strives to build public awareness and generate additional support among individuals, community organizations, public agencies, and medical professionals. Up-to-date information on OI– from medical issues to daily living strategies– is available via phone, Internet, fax, and mail. The Foundation also reaches out with print publications, press releases, DVDs, and the web site.
        </p>
        <h1>Mutual Support:</h1>
        <p>
            Improving quality of life is a continuing challenge that our small group of staff and enormous army of volunteers work constantly to achieve. From hosting 36 support and network groups in 26 states to expanding resources, hosting our online chat room or raising funds, the OI community and Foundation staff provide quality support services to more than 100,000 people each year.
        </p>
    </div>
</div>

</section>
