<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="padding-left: 170px; font-size: 80px">Under Construction<br/>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>
<div class="wrapper wrapper-content">
<div class="middle-box text-center animated fadeInRightBig">
    <h3 class="font-bold">Under Construction</h3>
    <div class="error-desc">
        This is page is under construction. Check back soon!
        <br/><a href="/" class="btn btn-cbbf-blue m-t">CBBF</a>
    </div>
</div>
</div>
