


<div id="inSlider" class="carousel slide" data-ride="carousel" >
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="container">
            <div class="carousel-caption">
                <h1 style="font-size: 80px">Research, Fellowships & Grants<br/>
                <p>
                </p>
            </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="cbbf-header-back five"></div>

    </div>
</div>
</div>
<br>
<br>
<section class="features">
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>History</h1>
        <p>
            Shortly after forming the charity and its board of directors, the Children’s Brittle Bone Foundation formed a Medical Advisory Board consisting of highly renown doctors, with backgrounds in research and grant writing. These doctors set a strategy for the use of our funds and ran a grant review process modeled after and using the best practices of the NIH grant award systems. 
        </p>
        <p>
            Between 1994-2002, the CBBF directly funded research grants and fellowships.  By investing $6,000,000+ into OI research, the CBBF made Osteogenesis Imperfecta a promising field for North America’s most talented research scientists.  
        </p>
        <p>
            Additionally, we testified in front of the House Ways and Means Committee and were instrumental in getting the National Institute of Health to provide a five-year research stipend of $12.5 Million.
        </p>
        <p>
            Below are examples of Research Grants and Fellowships we awarded:
        </p>
        <br>
        <h1>
            OI – Treatment Challenge<br>
        </h1>
        <h2>($100,000/year for three years)</h2>
        <div class="row">


            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            2000 - 2002
                        </h2>
                        “Expansion of Stem cells from patients with OI for potential therapy of the Same patients”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Darwin J. Prockop, MD. Ph.D</h4>
                    <p>Director Center For Gene Therapy MCP Hahnemann University, Philadelphia, PA</p>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1998 - 2000
                        </h2>
                        “Peptide Models of Collagen O.I. Mutation Sites: The Effect of Amino Acid Sequence On Triple Helix Properties and Clinical Phenotype”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Barbara M. Brodsky</h4>
                    <p>UMDNJ – Robert Wood Johnson Medical School in Piscataway, NJ</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1998 - 2000
                        </h2>
                        “Use Of Hammerhead Ribozymes In an Animal Model Of Osteogenesis Imperfecta”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Richard J. Wenstrup</h4>
                    <p>The Children’s Hospital Research Foundation in Cincinnati, OH</p>
                </div>
            </div>
        </div>
        <br>
        <h1>
            Fellowship<br>
        </h1>
        <h2>($50,000/year for two years)</h2>
        <div class="row">


            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            2000 - 2002
                        </h2>
                        “Transplantation Biology of Murine Bone Marrow Stroma”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Christopher B. Ballas Ph.D.:  Mentor Stanton L Gerson, MD</h4>
                    <p>Division of Hematology/Oncology Case Western Reserve School of Medicine. Cleveland OH</p>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            2000 - 2002
                        </h2>
                        “The order of intron removal in type I collagen genes: the role of splice order on the outcome of splice site mutations”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Christine D. Kulich, Ph.D.: Mentor Nelson Fausto</h4>
                    <p>Research Scientist Department of Pathology.  University of Washington School of Medicine, Seattle WA</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1998 - 2000
                        </h2>
                        “Development of a Gene Therapy Strategy for OI and Characterization of Marrow Stromal Cells as the Therapeutic Vehicle”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. David G. Stokes</h4>
                    <p>Allegheny University of the Health Sciences in Philadelphia, PA</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1998 - 2000
                        </h2>
                        “Modifiers of OIM: Mapping of Genes Affecting Bone Strength in Mice”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Robert Daniel Blank</h4>
                    <p>The Hospital For Special Surgery in New York, NY</p>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1997 - 1999
                        </h2>
                        “Gene Therapy To Reverse Bone Loss in OI”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Donna King</h4>
                    <p>Finch University of Health Sciences/ The Chicago Medical school in Chicago, IL</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1996 - 1998
                        </h2>
                        “Effect of a Third Generation Bisphosphonate on Bone Properties in the Growing OIM Mouse”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Nancy P. Camacho</h4>
                    <p>The Hospital for Special Surgery in New York, NY</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1996 - 1998
                        </h2>
                        “Fibroblast Growth Factor-Specific Transcriptional Regulation & The Molecular Biochemistry of Osteoblast Gene Expression”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Jeanne Marie Boudreaux</h4>
                    <p>Washington University School Of Medicine in St. Louis, MO</p>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1995 - 1997
                        </h2>
                        “Bone Marrow Transplantation in OIM Mice: A Tool To Study Somatic Gene Therapy”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Daniel McBride</h4>
                    <p>John Hopkins University in Baltimore, MD</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1995 - 1997
                        </h2>
                        “Study of the Lineage – Specific Transcriptional Mechanisms Which Control Type I Collagen Synthesis in Osteoblasts”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Jerome Andre Rossert</h4>
                    <p>The University of Texas, M.D. Anderson Cancer Center in Houston, TX</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1995 - 1997
                        </h2>
                        “Transgenic Mouse Models Used to Explore Marrow Stromal Cell Therapy in the Treatment of Osteogenesis Imperfectae”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Ruth Pereira</h4>
                    <p>Hahnemann University Center for Gene Therapy in Philadelphia, PA</p>
                </div>
            </div>
        
            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1994 - 1996
                        </h2>
                        “Collagen Stability in Osteogenesis Imperfecta”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. William Ross Wilcox</h4>
                    <p> Cedar-Sinai Medical Center in Los Angeles, CA</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-head-color-box p-lg text-center" style="background-color:#48afff;">
                    <div class="m-b-md" style="color:#FFFFFF">
                        <h2 class="font-bold no-margins">
                            1994 - 1996
                        </h2>
                        “The Identification and Characterization of Proteins that Bind Abnormal Type I Procollagen Molecules”
                    </div>
                </div>
                <div class="widget-text-box">
                    <h4 class="media-heading">Dr. Ming Qui</h4>
                    <p>The University of Washington In Seattle, WA</p>
                </div>
            </div>


        </div>

    </div>
</div>

</section>
