
<!-- Modal -->
<div class="modal inmodal fade" id="Donate" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Donate Online</h4>
          <small class="font-bold">We are a 100% volunteer organization, everything you give below goes directly to our Impact Grants</small>
      </div>
      <div class="modal-body">
         
        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
          <div class="wpb_wrapper">
            <div>

              <div id="fc-embed-loader" class="fc-direct-embed-loader" style="top: 257.5px; display: block;"></div>

              <div id="fc-embed-main-box" class="fc-embed-main-box" style="display: block; animation: 2s ease 0s 1 normal none running fadesin;">
                <iframe id="fc-embed-frame" style="height:800px;left-margin:10%; width: 80%; border: 1px solid rgb(221, 221, 221); margin: 0px auto; display: block; animation: 2s ease 0s 1 normal none running fadesin;" src="https://www.flipcause.com/widget/MjM0MzI=" scrolling="no"></iframe>

              </div>
             </div>
          </div>
        </div>

      </div>       
      
      <div class="modal-footer">

          <div class="form-group">
              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
          </div>

      </div>
    </div>
  </div>
</div>



